<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
	(particlesLoaded)="particlesLoaded($event)"></ng-particles>
<div class="container">
	<div class="navigation">
		<ul>
			<li><a href="#"><span class="icon">
						<ion-icon name="logo-tiktok"></ion-icon>
					</span><span class="title" id="dashboardName">TikTok Live DashBoard</span></a></li>
			<li><a href="#" id="active"><span class="icon">
						<ion-icon name="home-outline"></ion-icon>
					</span><span class="title">Accueil</span></a></li>
			<li><a href="#"><span class="icon">
						<ion-icon name="settings-outline"></ion-icon>
					</span><span class="title">Paramètres</span></a></li>
		</ul>
	</div>
</div>

<!-- Main -->

<div class="main">
  <div class="separator">
	<ion-icon class="chevron chevron-rotate" name="chevron-down-outline" [ngStyle]="getChevronStyle('connexion')" (click)="changeSlide('connexion')"></ion-icon>
    <h2>Connexion au live</h2>
    <hr>
  </div>
  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers" id="connected_state">{{connected_text_state}}</div>
        <div class="cardName">Connexion au live</div>
      </div>
      <div class="iconBx">
        <div *ngIf="connected_state === false; else elseBlock">
          <ion-icon name="close-circle-outline" style="color: red"></ion-icon>
        </div>
        <ng-template #elseBlock>
          <ion-icon name="checkmark-circle-outline" style="color: green"></ion-icon>
        </ng-template>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{max_viewer_count | frnumber }}</div>
        <div class="cardName">Hôte du live</div>
      </div>
      <div class="iconBx">
        <ion-icon name="cellular-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{start_hour}}</div>
        <div class="cardName">Heure de début du live</div>
      </div>
      <div class="iconBx">
        <ion-icon name="time-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{comment_count| frnumber }}</div>
        <div class="cardName">Temps écoulé</div>
      </div>
      <div class="iconBx">
        <ion-icon name="stopwatch-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="separator">
	<ion-icon class="chevron chevron-rotate" name="chevron-down-outline" [ngStyle]="getChevronStyle('statistics')" (click)="changeSlide('statistics')"></ion-icon>
    <h2>Statistiques du live</h2>
    <hr>
  </div>
  <!-- Card Boxes -->
  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers">{{viewer_count| frnumber }}</div>
        <div class="cardName">Viewers simultanés</div>
      </div>
      <div class="iconBx">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{max_viewer_count | frnumber }}</div>
        <div class="cardName">Nombre max de viewers</div>
      </div>
      <div class="iconBx">
        <ion-icon name="cellular-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{like_count| frnumber }}</div>
        <div class="cardName">Likes</div>
      </div>
      <div class="iconBx">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{comment_count| frnumber }}</div>
        <div class="cardName">Commentaires</div>
      </div>
      <div class="iconBx">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </div>
    </div>
  </div>

	<!-- Card Boxes Row 2 -->
	<div class="cardBox">
		<div class="card">
			<div>
				<div class="numbers">{{follower_count| frnumber }}</div>
				<div class="cardName">Nouveaux followers</div>
			</div>
			<div class="iconBx">
				<ion-icon name="people-outline"></ion-icon>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="numbers">{{sub_count | frnumber }}</div>
				<div class="cardName">Nouveaux abonnés</div>
			</div>
			<div class="iconBx">
				<ion-icon name="star-outline"></ion-icon>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="numbers">{{share_count| frnumber }}</div>
				<div class="cardName">Partages</div>
			</div>
			<div class="iconBx">
				<ion-icon name="arrow-redo-outline"></ion-icon>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="numbers">{{join_count| frnumber }}</div>
				<div class="cardName">Rejoints le live</div>
			</div>
			<div class="iconBx">
				<ion-icon name="add-outline"></ion-icon>
			</div>
		</div>
	</div>

	<!-- Graphique du nombre de viewers -->
	<div class="details">
		<div class="chart">
			<div class="cardHeader">
				<h2>Nombre de viewers</h2>
			</div>
			<div id="chartdiv" style="width: 100%; height: 580px"></div>
		</div>

		<!-- Chat -->
		<div class="chat">
			<div class="cardHeader">
				<h2>Chat</h2>
			</div>
			<table>
				<tr *ngFor="let item of user_comment_datas">
					<td width="60px">
						<div class="imgBx"><img src="{{item.user_profile_picture}}"></div>
					</td>
					<td>
						<h4>{{item.user_nickname}}</h4>
						<p>{{item.user_comment}}</p>
					</td>
				</tr>
			</table>
		</div>
	</div>

  <div class="separator">
    <ion-icon class="chevron chevron-rotate" name="chevron-down-outline" [ngStyle]="getChevronStyle('statistics')" (click)="changeSlide('statistics')"></ion-icon>
    <h2>Gifts et revenus</h2>
    <hr>
  </div>
  <!-- Card Boxes Row 2 -->
  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers">{{gift_count| frnumber }}</div>
        <div class="cardName">Gifts</div>
      </div>
      <div class="iconBx">
        <ion-icon name="gift-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{coin_count| frnumber }}</div>
        <div class="cardName">Coins</div>
      </div>
      <div class="iconBx">
        <ion-icon name="radio-button-on-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{money_count| roundfrnumber }}
          €</div>
        <div class="cardName">Revenus estimés</div>
      </div>
      <div class="iconBx">
        <ion-icon name="cash-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">1 520</div>
        <div class="cardName">Coins</div>
      </div>
      <div class="iconBx">
        <ion-icon src="./imgs/tiktokCoin.svg"></ion-icon>
      </div>
    </div>
  </div>

	<!-- Gifts -->
	<div class="details">
		<div class="recentGifts">
			<div class="cardHeader">
				<h2>Gifts récents</h2>
			</div>
			<table>
				<thead>
					<tr>
						<td>Donateur</td>
						<td>Type de gift</td>
						<td>Nombre de gift</td>
						<td>Valeur u/coin</td>
						<td>Valeur u/euro</td>
						<td>Total (coin)</td>
						<td>Total (€)</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of user_gift_datas">
						<td><img src="{{item.user_profile_picture}}">{{item.user_nickname}}</td>
						<td>{{item.user_type_gifted}}</td>
						<td>{{item.user_nb_gifted}}</td>
						<td>{{item.gifted_value}}</td>
						<td>{{item.gifted_value * this.ratioRevenu | roundfrnumber }}€</td>
						<td>{{item.total_gifted_value}}</td>
						<td>{{item.total_gifted_value * this.ratioRevenu | roundfrnumber }}€</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>