<body>
	<main>
		<div class="background">
			<div class="split top">
				<div class="centered botCounter">
					<div class="points" #girlCounter>{{countRose | frnumber}}
						<img src="../assets/img/rose.PNG">
					</div>
				</div>
			</div>
			<div class="split bottom">
				<div class="centered topCounter">
					<div class="points" #boyCounter>{{countWeights | frnumber}}
						<img src="../assets/img/weights.PNG">
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>

	</footer>
</body>