* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif;
}

.background {
    background: "../../../assets/img/benimaru.gif";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    height: 845px;
}

.split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.top {
    top: 0;
    background-image: url('https://media.tenor.com/mrzI0AC4Rz4AAAAC/rias-gremory-rias.gif');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.bottom {
    top: 50%;
    background-image: url('https://media.tenor.com/8I-zJn-yrocAAAAC/benimaru.gif');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.centered {
    margin-left: 10px;
    width: auto;
}

.topCounter {
    margin-top: 2%;
    margin-left: 2%;
}

.botCounter {
    margin-top: 74%;
    margin-left: 2%;
}

.points {
    padding: 5px 15px 5px 15px;
    width: fit-content;
    font-size: 2.4em;
    font-weight: bold;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .08);
    color: #303030;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.points img {
    width: 30px;
}