<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
	(particlesLoaded)="particlesLoaded($event)"></ng-particles>
	<div class="main">
		<div class="top_gifters">
			<div class="cardHeader">
				<h2>Top Contributeurs</h2>
			</div>
			<table>
				<tr *ngFor="let item of user_top_gifters_datas.reverse(); let index = index">
					<td width="60px">
						<div class="imgBx"><img src="{{item.user_profile_picture}}"></div>
					</td>
					<td>
						<h4>{{item.user_nickname.trim()}}</h4>
						<p>{{item.user_total_coins_gifted | frnumber }} coins</p>
					</td>
					<td>
						<div *ngIf="index == 0; then thenBlock else elseBlock"></div>
						<ng-template #thenBlock><ion-icon name="trophy-outline" id="trophy_first" class="trophy"></ion-icon></ng-template>
						<ng-template #elseBlock><div *ngIf="index == 1; then thenBlock1 else elseBlock1"></div></ng-template>
						<ng-template #thenBlock1><ion-icon name="trophy-outline" id="trophy_second" class="trophy"></ion-icon></ng-template>
						<ng-template #elseBlock1><ion-icon name="trophy-outline" id="trophy_third" class="trophy"></ion-icon></ng-template>
					</td>
				</tr>
			</table>
		</div>
	</div>
